# Cross-compile with MinGW64 toolchain
OS=windows
TOOLCHAIN_PREFIX=x86_64-w64-mingw32-
CC=$(TOOLCHAIN_PREFIX)gcc
CXX=$(TOOLCHAIN_PREFIX)g++
LD=$(TOOLCHAIN_PREFIX)ld
AS=$(TOOLCHAIN_PREFIX)as
AR=$(TOOLCHAIN_PREFIX)ar
RANLIB=$(TOOLCHAIN_PREFIX)ranlib
OBJDUMP=$(TOOLCHAIN_PREFIX)objdump
OBJCOPY=$(TOOLCHAIN_PREFIX)objcopy
STRIP=$(TOOLCHAIN_PREFIX)strip
GCOV=$(TOOLCHAIN_PREFIX)gcov
EXT=.exe
CFLAGS=-municode -Wall -W -Os -ftlo
LDFLAGS=-municode
